@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');
@import url('./Nav.scss');

a{text-decoration: none;}

* { margin: 0; padding: 0; }
//***************** colors ****************


//***************** Directional ****************



//***************** Typography ****************

$fontFamily: 'Manrope';
$textUppercase: uppercase;
$textStyle: normal;


//    *** typograhy headings ****
$headingFontWeight: 700;

//    *** typograhy heading h1 ****
$headingH1: 56px;
$headingH1-LineHeight: 58px;
$headingH1-LetterSpacing: 2px;

//    *** typograhy heading h2 ****
$heaidngH2:40px;
$headingH2-LineHeight: 44px;
$headingH2-LetterSpacing: 1.42857px;
//    *** typograhy heading h3 ****
$headingH3:2px;
$headingH3-LineHeight: 38px;
$headingH3-LetterSpacing: 1.14286px;
//    *** typograhy heading h4 ****
$headingH4:28px;
$headingH4-LineHeight: 38px;
$headingH4-LetterSpacing: 2px;

//    *** typograhy heading h5 ****
$headingH5:24px;
$headingH5-LineHeight: 33px;
$headingH5-LetterSpacing: 1.71429px;

//    *** typograhy heading h6 ****
$headingH6:18px;
$headingH6-LineHeight: 25px;
$headingH6-LetterSpacing:  1.28571px;

//    *** typograhy Overline ****
$body-overlineFontSize:14px;
$overlineLineHeight: 19px;
$overlineLetterSpacing:  10px;

//    *** typograhy subtitle ****
$subTitleFontSize: 13px;
$headingH1-LineHeight: 25px;
$headingH2-LetterSpacing: 0.928571px;


//    *** typograhy body ****
$bodyFontSize: 15px;
$bodyLineHeight: 25px;




//***************** Buttons ****************
$btn-desfault-height:160px;
$btn-desfault-width:48px;

$btn-default-1-color: #D87D4A;
$btn-default-1-hover: #FBAF85;



$btn-default-2-color: border 1px solid #000000;
$btn-default-2-hover: #000000;

$btn-default-3-color: #000000;
$btn-default-3-hover: #D87D4A ;


//***************** Form Elements ****************

$textFieldDefault-Border: border 1px solid #CFCFCF;

$textFieldDefault-Active: border 1px solid #D87D4A;

$textFieldDefault-Hover: border 1px solid #D87D4A;

$textFieldDefault-Error: border 1px solid #CD2C2C;



